.chat__main__content
  .chat__main__content__info
    %span.chat__main__content__info__username
      #{name}
    %span.chat__main__content__info__date
      #{time}
  .chat__main__content__text
    #{text}
